{% extends 'base.html.twig' %}
{% block title %}Page enseigants{% endblock %}
{% block body %}
  <div class="container" id="card-container">
    {% for professor in allProfessors %}
        <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 card-container2">
            <div class="card">
                <a {% if professor.user is not null %}
                      href="{{ url('nk_perso_page_accueil', {'value': professor.user.username}) }}"
                    {% else %}
                      href="#"
                    {% endif %} >
                    <img {% if professor.sex.initial == 'M' %} src="{{ asset('img_avatar.png') }}"  
                    {% else %} src="{{ asset('img_avatar2.png') }}" {% endif %} alt="Avatar" style="width:100%">
                </a>
                <div class="container">
                    <h4><b>
                    {% if professor.firstName|length > 15 %}
                        {{professor.firstName|first}}
                    {% else %}
                        {{professor.firstName}}
                    {% endif %}
                    {{professor.LastName}}</b></h4>
                    <p>{{professor.status}}</p>
                    <p>{{professor.department.name}}</p>
                </div>
            </div>
      </div>
    {% endfor %}
  </div>

  {% block javascripts %}
      <script>
          $( document ).ready(function() {
              var cards = $("#card-container .card-container2");
              $("#search").keyup(function () {
                  console.log($("#search").val().toLowerCase());
                  document.getElementById("card-container").innerHTML = "";
                  for(var i = 0; i< cards.length; i++){
                      var card = cards[i];
                      var texts = cards[i].textContent;
                      if(texts.toLowerCase().includes($("#search").val().toLowerCase())){

                          document.getElementById("card-container").appendChild(card);
                      }
                  }
                  var foundedCards= $("#card-container .card-container2");
                  if (foundedCards.length <1){
                      document.getElementById("card-container").innerHTML = "<h3>Aucun résultat correspondant!</h3>";
                  }
              })
          });
      </script>
  {% endblock javascripts %}
{% endblock %}

{% block stylesheets %}
  <style>

  </style>
{% endblock %}
