<div class="menu-cadre" id="menu">
	<ul class="nav navbar-vertical contenu-menu">       
	    <li><a href="{{ url('nk_perso_page_accueil') }}"><i class="icon-home"></i> Accueil</a></li>
	    <li><a href="{{ url('nk_perso_page_enseignements') }}"><i class="icon-edit"></i> Enseignements</a></li>
		<li><a href="{{ url('nk_perso_page_recherche') }}"><i class="icon-calendar"></i> Recherche</a></li>
	    <li><a href="{{ url('nk_perso_page_publication') }}"><i class="icon-user"></i> Publications</a></li>
	     <li><a href="{{ url('nk_perso_page_activites_administratives') }}"><i class="icon-comment"></i> Activités Administratives</a></li>
	    <li><a href="{{ url('nk_perso_page_lien') }}"><i class="icon-picture"></i> Liens</a></li>
	    <li><a href="{{ url('nk_perso_page_hobbie') }}"><i class="icon-picture"></i> Hobbies</a></li>
	</ul>
</div>
